.buttonThrow {
    margin: 1rem;

    height: 4rem;
    width: 8rem;
    
    border: 0.3rem solid black;
    border-radius: 4rem;

    font-weight: bold;
}
.buttonThrow:hover {
    cursor: pointer;
    color: rgb(146, 16, 42);
    border: 0.3rem solid rgb(146, 16, 42);
}