.buttons {
    display: flex;

}
.buttonTh{
    margin: 1rem;

    height: 4rem;
    width: 8rem;
    
    border: 0.3rem solid black;
    border-radius: 2rem;

    font-weight: bold;
}
.buttonTh:hover {
    cursor: pointer;
    color: rgb(146, 16, 42);
    border: 0.3rem solid rgb(146, 16, 42);
}