*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A19F9D;
}
.encabezado{
    text-align: center;
    font-size: 2rem;
}
.encabezado h1{
    font-size: 3.5rem;
}
.e-paragraph{
    font-weight: bold;
}

.input{
    margin-top: 1.5rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    /* border: 0.3rem solid green; */
}
.options{
    display: flex;
    font-weight: 600;
    justify-content: space-around;
}

.options input {

    text-align: center;

    font-size: 3rem;
    font-weight: 900;

    margin-top: 1rem;
    height: 10rem;
    width: 10rem;
    border: 3px solid black;
    border-radius: 10%;

}
.input div{
    margin: 0.5rem;
}
.input p{
    font-size: 1.6rem;
}
#boton{
    margin: 1rem;

    height: 4rem;
    width: 9rem;
    
    border: 0.3rem solid black;
    border-radius: 4rem;

    font-weight: bold;
}
#boton:hover{
    cursor: pointer;
    border: 0.3rem solid darkblue;
}
#result{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}
.output{
    /* margin-top: 3rem; */

    /* border: 0.3rem solid darkblue; */
    display: flex;
    justify-content: space-evenly;

    flex-flow: row wrap;

}
.box {
    height: 10rem;
    width: 10rem;
    border: 0.2rem solid white;
    background-color: #af102e;
    color: white;
    border-radius: 10%;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 900;

    min-width: 100px;
    max-width: 100px;
}


/* Animation */

/*
    It doesn't work the animation
    Maybe we need a plugin to compile css
*/


.loader{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
}