.main{
    width: 90vw;

    // border: black solid 2px;
}

.output{
    display: flex;
    justify-content: space-evenly;
}

.dado {
    box-sizing: content-box;
    height: 100px;
    width: 100px;
    border: 1px solid white;
    background-color: #af102e;
    color: white;
    border-radius: 10%;

    min-width: 100px;
    max-width: 100px;
}

.dado{
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.dado-role {
    background-color:darkslateblue;
}